body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.firebaseui-page-provider-sign-in {
  background: inherit;
  z-index: 1;
}
  
.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url("https://static.videezy.com/system/resources/previews/000/020/722/original/P1033770.mp4") center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}

h3 {
  margin-left: 15px
}

.fileInput {
  border-bottom: 4px solid lightgray;
  border-right: 4px solid lightgray;
  border-top: 1px solid black;
  border-left: 1px solid black;
  padding: 10px;
  margin: 15px;
  cursor: pointer
}
.imgPreview {
  text-align: center;
  margin: 5px 15px;
  height: 200px;
  width: 500px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-top: 5px solid gray;
  border-bottom: 5px solid gray
}
  img{
    width: 100%;
    height: 100%
  }
.previewText {
  width: 100%;
  margin-top: 20px
} 
.submitButton{
  padding: 12px;
  margin-left: 10px;
  background: white;
  border: 4px solid lightgray;
  border-radius: 15px;
  font-weight: 700;
  font-size: 10pt;
  cursor: pointer;
  background: #efefef
}
.centerText{
  text-align: center;
  width: 500px
}